attrs==23.2.0
certifi
charset-normalizer==3.3.2
comtypes==1.2.1
configparser==6.0.0
et-xmlfile==1.1.0
exceptiongroup==1.2.0
fuzzywuzzy==0.18.0
openpyxl==3.1.2
PySocks==1.7.1
python-dotenv==1.0.0
PyYAML==6.0.1
requests
Flask
mysql-connector-python==8.0.26
PyJWT==2.1.0
Werkzeug
loguru==0.5.3
Flask-Security==5.5.2
boto3
PyQt5
psutil
pynput
pycaw
screen-brightness-control
opencv-python
pyinstaller
